.nav {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.link {
  font-family: 'Baloo Bhaijaan 2', cursive;
  display: inline-block;
  text-decoration: none;
  margin: 28px;
  font-weight: 700;
  color: #333d44;
}

.activeLink {
  font-family: 'Baloo Bhaijaan 2', cursive;
  display: inline-block;
  text-decoration: none;
  margin: 28px;
  font-weight: 700;
  color: #e84a5f;
}
